body{
    margin: 0;
}

.header{
    padding-right: 0.5cm;
    padding-top:1.5cm; 
    margin-top: 0;
    padding-bottom: 3cm;
    justify-content: space-between;
    text-align: end;
    word-spacing: 0.5cm;
}

.image{
    background:url(download.jpg);
    height: 100vh;
    background-repeat: no-repeat;    
    background-size:cover;
    position: relative;
}

.div1{
    color:white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.div1 h1{
    font-size: 1.5cm;
    text-align: center;
    text-shadow: 1cm;
    text-emphasis-color: blue;
    color: aquamarine;
}

 .form_code{
    text-align: center;
} 

.form_code input{
     width: 80%;
     height: auto;
     margin-left: auto;
     margin-right: auto;
     border-radius: 2rem;
     padding: 0.7rem;
     border: none;
     outline: none;
}

.form_code button{
    display: block;
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    color: black;
    border-radius: .3rem;
    padding:.3rem;
    margin-top: 1rem;
}